@import url('./reset.css') ;
body {
background : #c9cacf;
}
#h1Container {
display : flex;
margin-top : 15pt;
justify-content : center;
align-items : center;
}
.header {
display : flex;
justify-content : space-between;
align-items : center;
height : 18%;
background : #ffffff;
background : linear-gradient(90deg, #ffffff 0%, #000000 100%);
}
.logo img {
margin-left : 2.3em;
max-width : 100%;
height : auto !important ;
}
#nav-bar #link {
display : flex;
flex-flow : nowrap;
flex-direction : row;
justify-content : center;
align-items : center;
transition : 0.5s;
list-style-type : none;
padding : 10px;
}
#link li a {
padding : 10px 20px;
text-transform : uppercase;
text-decoration : none;
color : #fff;
font-family : Arial, Helvetica, sans-serif;
font-weight : bold;
transition : 0.25s;
}
#link li a:hover {
padding : 10px 20px;
background : #8f8f8f;
color : #fff;
transition : 0.25s;
}
h1 {
font-size : 40pt;
padding : 10px;
text-align : center;
margin-bottom : 1%;
text-transform : uppercase;
font-family : Impact, 'Arial Narrow Bold', sans-serif;
color : #26272b;
width : 30%;
background-color : aliceblue;
border : #333 groove 10px;
}
@media screen and (max-width: 900px) {
.header {
display : flex;
justify-content : center;
align-items : center;
background : #333;
}
#link li a {
padding : 0 10px;
}
h1 {
width : max-content;
padding : 0;
font-size : 30pt;
}
#nav-bar #link {
display : flex;
align-items : center;
}
.logo {
display : none;
}
#link li {
width : max-content;
}
#link li a {
display : flex;
width : max-content;
justify-content : right;
color : azure;
}
#link li a:hover {
color : #333;
background : #fff;
}
h1 {
width : 60%;
}
}
section #h2container {
display : flex;
justify-content : center;
align-items : center;
}
section h2 {
padding : 10px;
text-align : center;
font-size : 25pt;
font-family : 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-top : 7px groove #26272b;
border-bottom : 7px groove #26272b;
margin-top : 1%;
}
section p {
width : 85%;
padding : 10px;
font-size : 13pt;
font-style : italic;
font-weight : 700;
font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.pcontainer {
margin : 15px;
display : flex;
justify-content : center;
align-items : center;
}
.licontainer li {
margin-bottom : 10px;
}
.licontainer {
display : flex;
justify-content : center;
align-items : center;
padding : 10pt;
}
.allist {
width : 70%;
line-height : 25px;
list-style : disc;
font-family : 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.bold {
font-style : italic;
font-weight : 600;
}
h3 {
margin-left : 8.5%;
padding : 10px;
font-size : 20px;
font-weight : 800;
font-style : italic;
}
.site-footer {
background-color : #26272b;
padding : 5px 20px;
font-size : 15px;
line-height : 3.1em;
color : #737373;
}
.site-footer a {
color : #737373;
}
.site-footer a:hover {
color : #3366cc;
text-decoration : none;
}
.footer-links {
padding-left : 0;
list-style : none;
}
.footer-links li {
display : block;
}
.footer-links a {
color : #737373;
}
.footer-links a:hover {
color : #3366cc;
text-decoration : none;
}
.footer-links.inline li {
display : inline-block;
}
.site-footer .social-icons {
text-align : right;
}
.site-footer .social-icons a {
width : 50px;
height : 50px;
line-height : 65px;
margin-left : 9px;
margin-right : 0;
border-radius : 100%;
background-color : #33353d;
}
.copyright-text {
margin : 0;
}
@media (max-width: 991px) {
.site-footer [class^="col-"] {
margin-bottom : 30px;
}
}
@media (max-width: 767px) {
.site-footer {
padding-bottom : 0;
}
.site-footer .copyright-text, .site-footer .social-icons {
text-align : center;
}
}
.social-icons {
padding-left : 0;
margin-bottom : 0;
list-style : none;
}
.social-icons li {
display : inline-block;
margin-bottom : 4px;
}
.social-icons a {
background-color : #eceeef;
color : #818a91;
font-size : 16px;
display : inline-block;
line-height : 44px;
width : 44px;
height : 44px;
text-align : center;
margin-right : 8px;
border-radius : 100%;
transition : all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
color : #fff;
background-color : #29aafe;
}
.social-icons a.facebook:hover {
background-color : #3b5998;
}
.social-icons a.twitter:hover {
background-color : #00aced;
}
.social-icons a.linkedin:hover {
background-color : #007bb6;
}
.social-icons a.insta:hover {
background-color : #ea4c89;
}
@media (max-width: 767px) {
.social-icons li.title {
display : block;
margin-right : 0;
font-weight : 600;
}
}
.copyright-text {
color : aliceblue;
}
.copyright-text a {
color : aliceblue;
text-decoration : none;
}
.copyright-text a:hover {
color : #29aafe;
}